:root {
  // Dark Orange
  
  --ion-color-orange: #ebb144;
  --ion-color-orange-rgb: 235, 177, 68;
  --ion-color-orange-contrast: #000000;
  --ion-color-orange-contrast-rgb: 0, 0, 0;
  --ion-color-orange-shade: #cf9c3c;
  --ion-color-orange-tint: #edb957;

}
