<ion-menu contentId="main-content" side="end">
  <ion-header>
    <ion-toolbar class="menu-header">
      <ion-title class="ion-text-center ion-text-uppercase">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <!-- <ion-menu-toggle> -->
      <!-- [routerLink]="['/instructivos']" -->
      <ion-item button="true" href="/home">ASISTENCIA</ion-item>
      <ion-item button="true" href="/instructivos">INSTRUCTIVOS</ion-item>
      <!-- </ion-menu-toggle> -->
    </ion-list>
  </ion-content>
</ion-menu>
