// ion-header ion-toolbar{
//   background-color: var(--ion-color-dark-orange);
// }

.header-color {
  --background: linear-gradient(to right, #F37335, #FDC830);
  --color: #000;
  --min-height: 8vh;
}

.Logo {
  width: 8vh;
  margin: 2vh;
}

.title {
  font-size: 2.5vh
}

.menu-header {
  --background: var(--ion-color-orange);
  --color: #000
}
